In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# Read in data
df_2000 = pd.read_excel('CP113B Data for Redlining Analysis.xlsx')
df_2017 = pd.read_excel('CP113B_Data_Redlining_Analysis_2017.xlsx')

In [6]:
df_2000.head(2)

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race or Ethnicity,Poverty Rate,Percent with a BA Degree or Higher,Percent High School Dropouts,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value
0,6001400100,Census Tract 4001,2463,76.461039,4.951299,4.586039,11.201299,2.800325,2.925640,83.717509,0.0,196645,1145,90.567686,985548
1,6001400200,Census Tract 4002,1943,79.989712,2.572016,5.967078,7.047325,4.423868,6.841564,77.258567,0.0,122061,862,57.656613,677115

In [9]:
fips_2017 = df_2017[['FIPS']]