# CP-113B

## The Jupyter Notebook

First of all, note that this page is divided into what are called *cells*. You can navigate cells by clicking on them or by using the up and down arrows. Cells will be highlighted as you navigate them.

### Text cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but know the difference between Text Cells and Code Cells.

### Code cells
Other cells contain code in the Python 3 language. Don't worry -- we'll show you everything you need to know to succeed in this part of the class. 

The fundamental building block of Python code is an **expression**. Cells can contain multiple lines with multiple expressions.  We'll explain what exactly we mean by "expressions" in just a moment: first, let's learn how to "run" cells.

### Running cells

"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces an **output**. When you run a text cell, it outputs clean, organized writing. When you run a code cell, it **computes** all of the expressions you want to evaluate, and can **output** the result of the computation.

<p></p>

<div class="alert alert-info">
To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, you can either press the <code><b>▶|</b> Run </code> button above or press <b><code>Shift + Return</code></b> or <b><code>Shift + Enter</code></b>. This will run the current cell and select the next one.
</div>

Text cells are useful for taking notes and keeping your notebook organized, but your data analysis will be done in code cells. We will focus on code cells for the rest of the class.

#### How to Save Your Work
Click on the leftmost  icon in the tool bar (left of the plus icon). <br>
Alternatively, you can hit *Ctrl+S* on a PC or *Command+Enter* on a Mac!

In [3]:
#Importing Utilitties
#These are all pre-written Python packages that we will be using to read in, clean, analyze, and model our data.
import os
import re
import geojson
import folium
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
import geopandas as gpd
from IPython.display import IFrame
plt.style.use('fivethirtyeight')
# import ipywidgets as widgets
%matplotlib inline

## The Data

Descriptions, more stuff

In [4]:
## If your file is not able to be read in below, uncomment the following line and then try reading in the data again

#!pip install xlrd

In [5]:
# Read in data
df_2000 = pd.read_excel('CP113B Data for Redlining Analysis.xlsx')
df_2017 = pd.read_excel('CP113B_Data_Redlining_Analysis_2017.xlsx')

## Description of Data (Carolina)

#### Where did this data come from?

In [6]:
# Run this cell to take a look at the first few rows of the 2017 data set and answer the questions below
## Remember, to edit a cell, double click on it

df_2017.head()

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race/Ethnicity,Poverty Rate,Percent BA or Higher,High School Drop Out Rate,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value
0,6001400100,"Census Tract 4001, Alameda County, California",2991,69.207623,2.808425,3.778001,16.181879,8.024072,4.225352,81.301824,0.0,208393,1254,88.038278,1104500.0
1,6001400200,"Census Tract 4002, Alameda County, California",1997,71.306960,0.901352,8.863295,9.814722,9.113671,5.469142,81.696429,0.0,147500,828,59.782609,1045200.0
2,6001400300,"Census Tract 4003, Alameda County, California",5123,66.972477,9.408550,7.515128,9.759906,6.343939,7.510814,66.311618,0.0,88173,2458,43.653377,943300.0
3,6001400400,"Census Tract 4004, Alameda County, California",3991,65.772989,5.963418,9.446254,12.127286,6.690053,9.248555,80.101394,0.0,102821,1786,36.674132,872400.0
4,6001400500,"Census Tract 4005, Alameda County, California",3944,53.372211,24.112576,10.319473,5.578093,6.617647,9.421951,67.216425,0.0,92375,1625,35.815385,721700.0

In [7]:
# Run this cell to take a look at the first few rows of the 2017 data set and answer the questions below
## Remember, to edit a cell, double click on it

df_2000.head()

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race or Ethnicity,Poverty Rate,Percent with a BA Degree or Higher,Percent High School Dropouts,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value
0,6001400100,Census Tract 4001,2463,76.461039,4.951299,4.586039,11.201299,2.800325,2.925640,83.717509,0.000000,196645,1145,90.567686,985548
1,6001400200,Census Tract 4002,1943,79.989712,2.572016,5.967078,7.047325,4.423868,6.841564,77.258567,0.000000,122061,862,57.656613,677115
2,6001400300,Census Tract 4003,4879,67.918645,13.508307,5.822076,6.580622,6.170350,9.491273,63.398922,4.081265,86617,2495,40.202239,566044
3,6001400400,Census Tract 4004,3659,63.623941,16.343263,6.805138,6.586499,6.641159,9.456136,68.396893,0.000000,86199,1803,40.044370,560128
4,6001400500,Census Tract 4005,3415,36.983895,42.723280,10.161054,5.358712,4.773060,14.116251,47.334755,14.473684,60188,1533,37.899543,343300

##### What does a row represent?

TODO: REPLACE THIS TEXT WITH YOUR ANSWER

##### What information is contained in the columns?

TODO: REPLACE THIS TEXT WITH YOUR ANSWER

## Comparing Variables with a Scatter Plot

The following cell builds an interactive widget for you to see a scatter plot of the relationship between any two variables that you choose from the data sets. It is up to you choose two variables that make sense to compare between the two years and draw conclusions. 

Run the following cell and play around with a few variables to see what you find! Note: some variables (such as 'Name of Area') **may cause the code to error out**, don't worry about this! This is happening because the variable contains string values and the widget works only for numeric values. If you see an error, just pick a different variable from the dropdown menu and continue working.

In [8]:
##### FILL IN WITH DOUBLE VARIABLE SCATTER PLOT WIDGET #####

#### Write down and compare at least 6 variable correlations that you see. Make sure you talk about what changes you see over the different years. 

###### TODO

1. Replace

2. This

3. Text

4. With

5. Your

6. Answer

### Discuss and Explore

What assumptions does our recipe make about gentrification? How might our recipe be biased? How might that affect policy impacts?


TODO: REPLACE THIS TEXT WITH YOU ANSWERS TO THE ABOVE QUESTIONS

# Visualizing The Difference

The interactive widget below calculates the difference between the value of a particular variable by census tract. For instance, the scatter plot of poverty rate will show you the poverty rate of some given Census Tract in 2000 minus the poverty rate of the sam census tract in 2017. Use the graph to answer the questions below.

In [9]:
####### PUT IN SCATTER PLOT WIDGET OF DIFFERENCES #######

In [10]:
df_2017 = df_2017.rename(columns = {'High School Drop Out Rate':'Percent High School Dropouts'})
df_2017 = df_2017.rename(columns = {'Percent Other Race/Ethnicity':'Percent Other Race or Ethnicity'})
df_2017 = df_2017.rename(columns = {'Percent BA or Higher':'Percent with a BA Degree or Higher'})
df_2017.head(2)

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race or Ethnicity,Poverty Rate,Percent with a BA Degree or Higher,Percent High School Dropouts,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value
0,6001400100,"Census Tract 4001, Alameda County, California",2991,69.207623,2.808425,3.778001,16.181879,8.024072,4.225352,81.301824,0.0,208393,1254,88.038278,1104500.0
1,6001400200,"Census Tract 4002, Alameda County, California",1997,71.306960,0.901352,8.863295,9.814722,9.113671,5.469142,81.696429,0.0,147500,828,59.782609,1045200.0

In [11]:
df_2000.head(2)

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race or Ethnicity,Poverty Rate,Percent with a BA Degree or Higher,Percent High School Dropouts,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value
0,6001400100,Census Tract 4001,2463,76.461039,4.951299,4.586039,11.201299,2.800325,2.925640,83.717509,0.0,196645,1145,90.567686,985548
1,6001400200,Census Tract 4002,1943,79.989712,2.572016,5.967078,7.047325,4.423868,6.841564,77.258567,0.0,122061,862,57.656613,677115

In [23]:
#####positive values (above blue line)--- gentrification happened##
#####negative values (below blue line)--- gentrification did not happen

def f(a):
    Diff_2017_2000 = df_2017[a].values-df_2000[a].values
    Diff_df=pd.DataFrame(Diff_2017_2000, columns=['Diff']) 
    Diff_df['Name of Area'] = df_2017['Name of Area']
    Diff_df['Num'] = range(1,362)
    Diff_df['Positive'] = Diff_df['Diff']>0
    ax=Diff_df.plot(kind='scatter', x="Num",y="Diff", color = Diff_df.Positive.map({True: 'r', False: 'g'}),alpha=.7, figsize=(19,7))
    ax.axhline(y=0)
display(widgets.interactive(f,a=df_2017.columns.tolist()))

interactive(children=(Dropdown(description='a', options=('FIPS', 'Name of Area', 'Total Population', 'Percent …

In [24]:
a = widgets.Dropdown(
    options=df_2017.columns.tolist(),
    description='a',
    disabled=False,
)
display(a)

Dropdown(description='a', options=('FIPS', 'Name of Area', 'Total Population', 'Percent Non-Hispanic White', '…

In [28]:
Diff_2017_2000 = df_2017[a.value].values-df_2000[a.value].values
df_2017_graph = df_2017.copy()
df_2017_graph['Difference'] = Diff_2017_2000 
df_2017_graph.head(2)

,FIPS,Name of Area,Total Population,Percent Non-Hispanic White,Percent Black,Percent Hispanic,Percent Asian,Percent Other Race or Ethnicity,Poverty Rate,Percent with a BA Degree or Higher,Percent High School Dropouts,Median Household Income,Housing Units,Percent Owner Occupied,Median House Value,Difference
0,6001400100,"Census Tract 4001, Alameda County, California",2991,69.207623,2.808425,3.778001,16.181879,8.024072,4.225352,81.301824,0.0,208393,1254,88.038278,1104500.0,-0.808038
1,6001400200,"Census Tract 4002, Alameda County, California",1997,71.306960,0.901352,8.863295,9.814722,9.113671,5.469142,81.696429,0.0,147500,828,59.782609,1045200.0,2.896217

In [30]:
alameda = geojson.load(open("alameda-2010.geojson"))
df_alameda = pd.DataFrame(data=alameda)
test = df_alameda['features'][0]
census_tracts_df = []
for feature in df_2017_graph['Name of Area']:
    census_tracts_df.append(re.findall(r'(Census Tract \d*)', str(feature))[0])
df_2017_graph['Name of Area'] =census_tracts_df
df_2017_graph['FIPS_str'] = df_2017_graph.FIPS.apply(str)
df_2017_graph['Census Tract'] = [i[4:8] for i in df_2017_graph["FIPS_str"]]

In [35]:
#####positive values (above blue line)--- gentrification happened##
#####negative values (below blue line)--- gentrification did not happen
df_difference = df_2017_graph['Difference']
df_difference[df_difference < 0] = 0 
df_difference[df_difference > 0] = 1
df_2017_graph['Difference'] = df_difference 
    
    
dir = os.path.join("maps_")
if not os.path.exists(dir):os.mkdir(dir)
oakland_gdf= gpd.read_file("CAOakland1937.geojson")
oakland_gdf.head()

    # Subset the redlining data to keep only those with a bad grade (D)
oakland_d = oakland_gdf[oakland_gdf['holc_grade']=='D']
oakland_c = oakland_gdf[oakland_gdf['holc_grade']=='C']
oakland_b = oakland_gdf[oakland_gdf['holc_grade']=='B']
oakland_a = oakland_gdf[oakland_gdf['holc_grade']=='A']

map7 = folium.Map(location=(37.8044, -122.2711), zoom_start=12.4)
folium.Choropleth(geo_data=alameda, 
             name='Difference', 
             data=df_2017_graph,
             columns=['Census Tract', 'Difference'],
             key_on='feature.properties.name10',  
             fill_color='YlOrRd', 
             fill_opacity=.5, 
             line_opacity=1,         
             nan_fill_opacity = 0,
             legend_name="Poverty Rate"
            ).add_to(map7)

#add redline data
map7.choropleth(oakland_d, fill_color='blue', fill_opacity=0.25)

map7.save("maps_/map7.html")
IFrame('maps_/map7.html', width=800, height=800)

/anaconda3/lib/python3.7/site-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

### Discuss and Explore


Use the widget and the map to support your answers to the following questions.

1. How many tracts gentrified? 

2. How many saw poverty decline? 

3. How many saw the share of homeowners increase? 

4. How many saw a decline in the share of African American population?